body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-family: '微軟正黑體';
    /* font-family: '微軟正黑體', 'Lora', sans-serif; */
    /* font-family: MicrosoftYaHei, '宋體', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; */
}

.slider_area .single_slider .slider_text h3,
p {
    font-family: '微軟正黑體';
}

.progress-table {
    background: #f9f9ff;
    padding: 15px 0px 30px 0px;
    min-width: 900px;
}

.progress-table .category {
    width: 18%;
}

.progress-table .spec {
    width: 56%;
}

.progress-table .price {
    width: 8%;
}

.progress-table .quantity {
    width: 10%;
}

.progress-table .subtotal {
    width: 8%;
    padding-right: 10px;
}

.progress-table .table-head {
    display: flex;
}

.progress-table .table-head .category,
.spec,
.quantity,
.price,
.subtotal {
    /* color: $title-color; */
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    align-items: center;
}


.progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex;
}

.progress-table .table-row .category,
.spec,
.quantity,
.price,
.subtotal {
    display: flex;
    align-items: center;
}

.progress-table .table-row .quantity,
.price,
.subtotal {
    padding: 10px;
    text-align: right;
}

/* 漸變 color1 - color2 - color1 */
hr .style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.form-input {
    height: 40px;
    width: 86%;
    margin-bottom: 30px;
    border: solid 1px #E2E2E2;
}

div .list-group {
    width: 600px;
    height: 500px;
    border: 1px dotted black;
    overflow: scroll;
    overflow-x: hidden;
}

.genric-btn.small.quantity {
    padding-left: 14px;
    padding-right: 14px;
}

.input-quantity {
    width: 30px;
}

.HVCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-chkbox {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-delete {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-table.confirm {
    width: 100%;
}

.progress-table.confirm .spec {
    width: 70%;
}

.progress-table.confirm .price {
    width: 10%;
}

.progress-table.confirm .quantity {
    width: 11%;
}

.progress-table.confirm .subtotal {
    width: 9%;
    padding-right: 10px;
}

.confirm-input {
    /* display: flex; */
    width: max-content;
    /* align-items: center; */
    /* justify-content: center; */
}