body {
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Nunito', sans-serif;
}

body,button, input,select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family:MicrosoftYaHei,'宋體',Tahoma,Helvetica,Arial,"\5b8b\4f53", sans-serif;}